.desc, .instructions {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    text-align: left;
    font-size: 12px;
    padding-top:10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.fp-bottom {
    text-anchor: middle;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.df-p {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
    font-size: 13px;
}
.legend-text,
.legend-text2{
    text-anchor: start;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.path{
    fill: none;
    stroke-width: 1px;
    opacity: 0.8;
    shape-rendering: crispEdges;
}

.pathText,
.dv-axis-label {
    text-anchor: middle;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.dv-label {
    text-anchor: middle;
}


.dv-d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 5px;
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
    border-radius: 1px;
}


.wrapper1 .dv-tooltip-box,
.wrapper2 .dv-tooltip-box,
.wrapper3 .dv-tooltip-box,
.wrapper4 .dv-tooltip-box,
.wrapper5 .dv-tooltip-box{
    fill: rgba(255, 255, 255, 0.8);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}


.wrapper1:hover .dv-tooltip-box,
.wrapper2:hover .dv-tooltip-box,
.wrapper3:hover .dv-tooltip-box,
.wrapper4:hover .dv-tooltip-box,
.wrapper5:hover .dv-tooltip-box{
    opacity: 1;
    pointer-events: auto;
}

/* IE can just show/hide with no transition */
.lte8 .wrapper1 .dv-tooltip-box,
.lte8 .wrapper2 .dv-tooltip-box,
.lte8 .wrapper3 .dv-tooltip-box,
.lte8 .wrapper4 .dv-tooltip-box,
.lte8 .wrapper5 .dv-tooltip-box{
    display: none;
}

.lte8 .wrapper1:hover .dv-tooltip-box,
.lte8 .wrapper2:hover .dv-tooltip-box,
.lte8 .wrapper3:hover .dv-tooltip-box,
.lte8 .wrapper4:hover .dv-tooltip-box,
.lte8 .wrapper5:hover .dv-tooltip-box{
    display: block;
}

.wrapper1 .dv-tooltip-text,
.wrapper2 .dv-tooltip-text,
.wrapper3 .dv-tooltip-text,
.wrapper4 .dv-tooltip-text,
.wrapper5 .dv-tooltip-text{
    fill:black;
    font-size: 10px;
    text-anchor: middle;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper1 .dv-tooltip-text:before,
.wrapper2 .dv-tooltip-text:before,
.wrapper3 .dv-tooltip-text:before,
.wrapper4 .dv-tooltip-text:before{
    content: " ";
}

/* CSS Triangles - see Trevor's post */
.wrapper1 .dv-tooltip-text:after,
.wrapper2 .dv-tooltip-text:after,
.wrapper3 .dv-tooltip-text:after,
.wrapper4 .dv-tooltip-text:after,
.wrapper5 .dv-tooltip-text:after{
    content: " ";
    height: 0;
    width: 0;
}

.wrapper1:hover .dv-tooltip-text,
.wrapper2:hover .dv-tooltip-text,
.wrapper3:hover .dv-tooltip-text,
.wrapper4:hover .dv-tooltip-text,
.wrapper5:hover .dv-tooltip-text{
    opacity: 1;
    pointer-events: auto;
}

/* IE can just show/hide with no transition */
.lte8 .wrapper1 .dv-tooltip-text,
.lte8 .wrapper2 .dv-tooltip-text,
.lte8 .wrapper3 .dv-tooltip-text,
.lte8 .wrapper4 .dv-tooltip-text,
.lte8 .wrapper5 .dv-tooltip-text{
    display: none;
}

.lte8 .wrapper1:hover .dv-tooltip-text,
.lte8 .wrapper2:hover .dv-tooltip-text,
.lte8 .wrapper3:hover .dv-tooltip-text,
.lte8 .wrapper4:hover .dv-tooltip-text,
.lte8 .wrapper5:hover .dv-tooltip-text{
    display: block;
}

.wrapper1:hover .outline1{
    fill: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.wrapper2:hover .outline2,
.wrapper4:hover, .outline4{
    fill: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.wrapper3:hover .outline3 {
    fill: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}


.wrapper5:hover .outline5 {
    fill: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}



