/*stacked chart*/



#stackedchart{

    margin-left: 200px;
    margin-right: 200px;
}

.x-axis text {
    font-size: 14px;
}

#hours{
    font-family: 'Roboto Slab', serif;
    color: #404040;
    font-weight: bolder;
    font-size: 200px;
    /*animation-duration: 1s;*/
    /*animation-delay: 2s;*/
    /*animation-iteration-count: infinite;*/
}

#hours:before
{
    position: absolute;
    color: yellow;
    font-weight: bolder;
    font-size: 200px;
    width: 0%;
    overflow: hidden;
    transition: .5s;

    /*animation-duration: 1s;*/
    /*animation-delay: 2s;*/
    /*animation-iteration-count: infinite;*/
}

#hours:hover:before{

    width: 100%;
}
.legend,
.Xaxis,
.Yaxis,
.axis {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.grid,
.Xaxis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    opacity: 0.4;
    shape-rendering: crispEdges;
}

