#intro{
    font-family: 'Lato',sans-serif;
    position: absolute;
    text-align: start;
    font-size: 30px;
    bottom: 700px;
    right: 300px;
    color: dimgray;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: black;
    margin-top: 20px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3{
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 200px;
}

p{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 200px;
    padding-bottom: 20px;
    padding-left: 200px;
}


body {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}


div {
     padding: 0px 0px 0px 0px;
 }

#stackedchart .x-axis text {
    font-size: 14px;
}

#hours{
    font-weight: bolder;
    font-size: 200px;
}


.Xaxis,
.Yaxis,
.axis {

    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container {
    padding:10px;
}

.sketch {
    max-height: 400px;
    max-width: 500px;
    object-fit: scale-down;
    margin: auto;
}


.largephoto {
    background-color: lightgrey;
    height:100vh;
}
<<<<<<< HEAD

.label {
    tex-anchor: middle;
=======
.grid,
.Xaxis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    opacity: 0.4;
    shape-rendering: crispEdges;
}

.section {
    text-align:center;
>>>>>>> 9d98b99b6b19674a43e50d44bfaad68452d55cf0
}