/*general*/
#intro {
    font-family: 'Lato', sans-serif;
    position: absolute;
    text-align: start;
    font-size: 30px;
    bottom: 500px;
    right: 300px;
    color: dimgray;
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 60px;
    color: black;
    margin-top: 20px;
    padding-top:30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3{
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 200px;
}

p{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 200px;
    padding-bottom: 20px;
    padding-left: 200px;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.section {
    text-align:center;
}

#fp-nav ul li a span {
    background: black;

}


